<ion-view view-title="待处理">
    <ion-nav-buttons side="right">
        <a class="button icon-left ion-plus-circled" href="#/tab/todo/addTask">
            添加任务
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                我负责的
            </div>
            <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right"
                          ng-repeat="task in tasks.tasksInCharge"
                          type="item-text-wrap" href="#/tab/todo/detail/{{task.company_id}}/{{task.id}}">
                    <img src="{{task.rUser.avatar|avatar}}">

                    <h2><span class="ion-ios-star assertive"></span>{{task.name}}</h2>

                    <p>由{{task.rUser.name}}发起，我的进度为{{task.rTransfer.progress}}%</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <ion-option-button class="button-positive" ng-click="openTaskTransferModal()">
                        转发
                    </ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="openTaskProgress()">
                        进度
                    </ion-option-button>
                </ion-item>
            </ion-list>
            <div class="item item-divider">
                我发起的
            </div>
            <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right"
                          ng-repeat="task in tasks.tasksOwnedByMe"
                          type="item-text-wrap" href="#/tab/todo/detail/{{task.company_id}}/{{task.id}}">
                    <img src="{{task.rUser.avatar|avatar}}">

                    <h2><span class="ion-ios-star assertive"></span>{{task.name}}</h2>

                    <p>{{task.rUser.name}}正在负责，他的进度为{{task.rTransfer.progress}}%</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <ion-option-button class="button-positive" ng-click="CallTel({{task.rUser.phone}})">
                        电话
                    </ion-option-button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>