<ion-view view-title="修改密码">
    <ion-content>
        <form ng-submit="doEditPassword()" name="editPasswordForm">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">旧密码</span>
                    <input type="password" ng-model="user.old_password" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">新密码</span>
                    <input type="password" ng-model="user.new_password" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">确认新密码</span>
                    <input type="password" ng-model="user.new_password_confirm" required>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit" ng_disabled="!editPasswordForm.$valid">
                        提交
                    </button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
