<ion-view view-title="使用帮助">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                系统逻辑
            </div>
            <div class="item item-text-wrap">
                <p>1、一个团队下拥有多个项目。</p>
                <p>2、一个项目下拥有多个任务。</p>
                <p>3、每个任务可以轮流指派多人，但每次只能指派一个。</p>
            </div>
            <div class="item item-divider">
                底部选项卡逻辑
            </div>
            <div class="item item-text-wrap">
                <p>1、"待处理"，列出未处理的任务，并可进行任务处理，如指派他人，更新进度等。</p>
                <p>2、"全部"，列出公司、项目、任务等，可增加、编辑相应项目。</p>
                <p>3、"我"，账号信息维护如修改头像、密码等。</p>
            </div>
            <div class="item item-divider">
                操作区
            </div>
            <div class="item item-text-wrap">
                <p>1、个别页面右上角的按钮</p>
                <p>2、向左滑动列表页面</p>
            </div>
        </div>
    </ion-content>
</ion-view>
