<ion-view view-title="我">
    <ion-content>
        <div class="list">
            <div class="item item-avatar">
                <img src="{{user.userProfile.avatar | avatar}}">

                <h2>{{user.userProfile.name}}</h2>

                <p>November 05, 1955</p>
            </div>
            <div class="item">
                <button class="button button-block button-positive icon-left ion-image" ng-click="changePassword()">
                    修改信息
                </button>
                <button class="button button-block button-positive icon-left ion-edit" ng-click="changePassword()">
                    修改密码
                </button>
                <button class="button button-block button-positive icon-left ion-image" ng-click="changePassword()">
                    使用说明
                </button>
                <button class="button button-block button-positive icon-left ion-log-out" ng-click="doLogout()">
                    退出账号
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
