<ion-view view-title="我">
    <ion-content>
        <div class="list">
            <div class="item item-avatar">
                <img src="{{user.userProfile.avatar | avatar}}">

                <h2>{{user.userProfile.name}}</h2>

                <p>{{user.userProfile.phone}}</p>
            </div>
            <a class="item item-icon-left" href="#tab/account/editProfile">
                <i class="icon ion-edit"></i>
                修改信息
            </a>
            <a class="item item-icon-left" href="#tab/account/editPassword">
                <i class="icon ion-locked"></i>
                修改密码
            </a>
            <a class="item item-icon-left" href="#tab/account/help">
                <i class="icon ion-help"></i>
                使用帮助
            </a>
            <a class="item item-icon-left" href="javascript:void(0)" ng-click="doLogout()">
                <i class="icon ion-log-out"></i>
                退出账号
            </a>
        </div>
    </ion-content>
</ion-view>
